#################
## Sublime Text
#################

*.sublime-project
*.sublime-workspace

#################
## PyCharm
#################

.idea/

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
thumbs.db

# Folder config file
Desktop.ini

#############
## Mac crap
#############

.DS_Store

#############
## Python
#############

*.py[co]
